# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# makefile generations
ant/src/.dep
*.eep
*.elf
*.lss
*.lst
*.map
*.sym
*.hex
